@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --mainColor: #000000;
  --seconday: #d87d4a;
  --background: #f1f1f1;
  --white: #ffffff;
  --linecolor: #979797;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  padding: 1rem;
}

/* img {
  width: 100%;
  height: auto;
} */

header {
  background-color: var(--mainColor);
  left: 0px;
  top: 0px;
  width: 100%;
}

h2 {
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
}

/* <!-- //////////Cart Button/////////////// --> */

.subcart {
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  width: 85%;
  height: 35rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-right: 1rem;
  overflow: hidden;
  gap: 1rem;
  margin: 2rem;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.removeall {
  color: #979797;
  font-weight: 400;
  border-bottom: #979797;
}

.summary-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.summary-container {
  display: flex;
  margin-left: 3rem;
}

.summary-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-left: 1rem;
}

.product-description {
  /* align-self: stretch; */
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.checkout-header {
  font-weight: bold;
}

.checkout-price {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400 bold;
  opacity: 0.65;
}

.quantity {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400 bold;
  opacity: 0.65;
}

.price-1 {
  font-size: 18px;
  font-weight: bold;
}

.price-2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--seconday);
}

.summary-h3-styling {
  font-size: 18px;
  margin-left: 2rem;
}

.summary-description-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkout-btn {
  width: 300px;
  height: 48px;
  padding: 15px;
  background: #d87d4a;
  color: var(--white);
  border: none;
  justify-content: center;
  text-align: center;
  margin: 3rem 0 3rem 0;
}

.banner-action-btn {
  display: flex;
}

.btn-count {
  width: 100px;
  height: 38px;
  padding: 10px;
  background: #f1f1f1;
  color: var(--black);
  border: none;
  text-align: center;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 768px) {
  .subcart {
    margin-left: 20rem;
    width: 30rem;
    height: 32rem;
  }
}

@media only screen and (min-width: 1000px) {
  .subcart {
    margin-left: 45rem;
    width: 30rem;
    height: 32rem;
  }
}

/* <!-- //////////Hamburger Menu/////////////// --> */

.subnav {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 40rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 300ms ease;
}

.subnav h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.img_container-menu {
  margin: 5rem 0 2rem 1.5rem;
  width: 70%;
  border-radius: 8px;
  position: relative;
  height: 10rem;
  background-color: #f1f1f1;
}

.mark-2-headphones-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -130%);
}

.headphones-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -91%);
}

.btn-shop-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 120%);
  border: none;
  color: var(--linecolor);
  background-color: transparent;
}

/* <!-- ///////////////////////// --> */

.sub-nav {
  display: none;
}

.desktop-nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .brand {
    display: flex;
  }

  nav {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  nav {
    justify-content: space-around;
  }

  .desktop-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    list-style: none;
    gap: 2rem;
  }

  .desktop-nav-list a {
    color: white;
  }
}

/* /////////////////////// */

.headphones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: black;
  color: white;
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: bold;
}

/* /////////////////////// */

.mark2-headphones-promotion {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.mark-2-container {
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 22rem;
  background-color: #f1f1f1;
}
.markII-headphones-banner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.mark2-headphones-text {
  margin: 3rem 0 0 2rem;
  height: 25rem;
}

.mark2-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--mainColor);
}

.mark2-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  mix-blend-mode: normal;
  /* opacity: 0.5; */
  color: var(--seconday);
}

.mark2-content h3 {
  font-size: 28px;
  margin-top: 1rem;
}

.mark2-content p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

.mark2-action-btn {
  margin-top: 3.125rem;
}

.btn-main {
  width: 160px;
  height: 48px;
  padding: 15px;
  background: #d87d4a;
  color: var(--white);
  border: none;
}

@media only screen and (min-width: 768px) {
  .mark2-content {
    width: 90%;
    margin-left: 2rem;
  }

  .mark2-content h3 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .mark2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 2rem 0 2rem;
    gap: 5rem;
  }

  .mark-2-container {
    width: 30rem;
    height: 32rem;
  }

  .mark2-content {
    width: 30rem;
    height: 32rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .mark2-content p {
    width: 28rem;
  }
}

/* /////////////////////// */

.img_container {
  margin: 10rem 0 0 1.5rem;
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 10rem;
  background-color: #f1f1f1;
}

.mark-2-headphones {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -130%);
}

.headphones-pr {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -91%);
}

.btn-shop {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 120%);
  border: none;
  color: var(--linecolor);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin-left: 1.5rem;
    padding-right: 0.75rem;
  }
}

@media (min-width: 1000px) {
  .products {
    margin-left: 3rem;
  }
  .img_container {
    display: flex;
    justify-content: space-between;
    width: 22rem;
  }
}

/* /////////////////////// */

.company-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: 733px;
  margin: 100px auto 0px auto;
  border-radius: 10px;
}

.company-desc .company-desc-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url("../assets/shared/mobile/image-best-gear.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-desc .company-desc-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  text-align: center;
}

.company-desc .company-desc-text .title {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.company-desc .company-desc-text .desc-text {
  padding: 10px 0;
}

.company-desc .h2-styling-title {
  color: black;
}

@media only screen and (min-width: 768px) {
  .company-desc .company-desc-image {
    background-image: url("../assets/shared/tablet/image-best-gear.jpg");
  }
  .company-desc .h2-styling-title {
    font-size: 40px;
  }
  .company-desc .company-desc-text .desc-text {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .company-desc {
    height: 490px;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
  }

  .company-desc .company-desc-image {
    width: 40%;
    height: 100%;
    background-image: url("../assets/shared/desktop/image-best-gear.jpg");
  }

  .company-desc .company-desc-text {
    width: 49%;
    height: 100%;
    align-items: flex-start;
  }

  .h2-styling-title {
    width: 400px;
    text-align: left;
    margin: 0;
  }

  .company-desc .company-desc-text .desc-text {
    max-width: 400px;
    text-align: left;
  }
}

/* /////////////////////// */

.bottom-nav {
  background-color: var(--mainColor);
}

.bottom-nav .comp-desc {
  color: white;
}

.bottom-nav .copyright {
  color: white;
}

.bottom-nav .footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-nav svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px 0px;
}

.bottom-nav .footer-nav ul {
  text-align: center;
  list-style: none;
}

.bottom-nav .footer-nav ul li {
  margin: 30px 0px;
}

.bottom-nav .footer-nav ul li a {
  color: #f1f1f1;
  transition: 0.3s ease;
}

.bottom-nav .footer-nav ul li a:hover {
  color: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-comp-desc .comp-desc {
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  max-width: 400px;
}

.bottom-nav .footer-comp-desc .social-media {
  margin: 0 auto;
  bottom: -15%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li {
  margin: 20px 20px;
}

.bottom-nav .footer-comp-desc .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li a:hover {
  fill: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li > a > p {
  display: none;
}

.copyright {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    height: 400px;
  }
  .bottom-nav .accent-bar {
    top: 0;
    left: 30px;
    transform: none;
  }

  .bottom-nav .footer-nav {
    height: 40%;
    align-items: flex-start;
  }

  .bottom-nav .footer-nav svg {
    margin: 25px 0px 30px 30px;
  }

  .bottom-nav .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bottom-nav .footer-nav ul li {
    margin: 0 30px;
  }

  .bottom-nav .footer-comp-desc {
    height: 50%;
    align-items: flex-start;
  }
  .bottom-nav .footer-comp-desc .comp-desc {
    text-align: left;
    max-width: 700px;
    margin: 0;
    padding-left: 30px;
  }
  .bottom-nav .footer-comp-desc .copyright {
    padding-left: 30px;
  }

  .bottom-nav .footer-comp-desc .social-media {
    right: 50px;
    bottom: 7px;
    transform: none;
    justify-content: flex-end;
  }
}

@media (min-width: 1000px) {
  .bottom-nav .accent-bar {
    left: 120px;
  }
  .bottom-nav .footer-nav {
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }
  .bottom-nav .footer-nav svg {
    margin: 0;
  }

  .bottom-nav .footer-comp-desc .comp-desc {
    max-width: 570px;
    padding-left: 30px;
  }

  .social-media {
    padding-left: 55rem;
  }
}
