@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --mainColor: #000000;
  --seconday: #d87d4a;
  --background: #f1f1f1;
  --white: #ffffff;
  --linecolor: #979797;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  padding: 1rem;
}

/* img {
  width: 100%;
  height: auto;
} */

.goback-btn {
  display: flex;
  margin: 3rem 0 0 2rem;
  color: #979797;
}

header {
  background-color: var(--mainColor);
  left: 0px;
  top: 0px;
  width: 100%;
}

h2 {
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
}

.sub-nav {
  display: none;
}

.desktop-nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .brand {
    display: flex;
  }

  nav {
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  nav {
    justify-content: space-around;
  }

  .desktop-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    list-style: none;
    gap: 2rem;
  }

  .desktop-nav-list a {
    color: white;
  }
}

/* /////////////////////// */

.mark2-headphones-promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.mark-2-container {
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 20.5rem;
  background-color: #f1f1f1;
}
.markII-headphones-banner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.mark2-headphones-text {
  margin-top: 3rem;
  height: 25rem;
  margin-left: 2rem;
  width: 90%;
}

.mark2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--mainColor);
}

.mark2-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  mix-blend-mode: normal;
  /* opacity: 0.5; */
  color: var(--seconday);
}

.mark2-content h3 {
  font-size: 28px;
  margin-top: 1rem;
}

.mark2-content p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

.price {
  margin-top: 2rem;
}

.banner-action-btn {
  margin-top: 2.125rem;
  display: flex;
  gap: 1rem;
}

.btn-count {
  width: 120px;
  height: 48px;
  padding: 15px;
  background: #f1f1f1;
  color: var(--black);
  border: none;
  text-align: center;
  letter-spacing: 0.5rem;
}

.btn-main {
  width: 160px;
  height: 48px;
  padding: 15px;
  background: #d87d4a;
  color: var(--white);
  border: none;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .mark2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin: 0 2rem 0 2rem; */
    gap: 5rem;
  }

  .mark-2-container {
    width: 17.6rem;
    height: 30rem;
    margin-left: 5rem;
  }

  .mark2-content {
    width: 17.6rem;
    height: 30rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .mark2-content p {
    width: 28rem;
  }

  .price {
    margin: 0rem 0 0 0;
  }

  .mark2-content h3 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .mark-2-container {
    width: 34rem;
    height: 36rem;
    margin-left: 20rem;
  }
}

/* /////////////////////// */
.features h3 {
  font-size: 24px;
  margin: 4rem 0 1.5rem 2rem;
}
.features-content {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.features-content p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .features {
    margin: 0 0 0 3rem;
  }

  .in-the-box {
    width: 90%;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    margin: 4rem 0 0 2rem;
    gap: 20rem;
  }

  .in-the-box h3 {
    margin: 1.75rem 0 0 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .features {
    margin: 0 0 0 3rem;
  }

  .features-main {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-left: 15rem;
  }

  .features-content p {
    width: 40rem;
  }

  .in-the-box {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0rem 0 0 0rem;
    gap: 0rem;
  }

  .in-the-box h3 {
    margin: 0rem 0 0 0rem;
  }
}

/* /////////////////////// */
.in-the-box h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}

.in-the-box {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 4rem 0 0 2rem;
}

.in-the-box ul li {
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400 bold;
  opacity: 0.6;
  padding-top: 1rem;
  margin: 1rem 0 0 0;
}
.accessory-list span {
  font-weight: bold;
  color: var(--seconday);
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .features {
    margin: 0 0 0 3rem;
  }

  .in-the-box {
    width: 90%;
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    margin: 4rem 0 0 2rem;
    gap: 20rem;
  }

  .in-the-box h3 {
    margin: 1.75rem 0 0 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .features {
    margin: 0 0 0 3rem;
  }

  .features-main {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-left: 15rem;
  }

  .features-content p {
    width: 40rem;
  }

  .in-the-box {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0rem 0 0 0rem;
    gap: 0rem;
  }

  .in-the-box h3 {
    margin: 0rem 0 0 0rem;
  }
}

/* /////////////////////// */

.collage-grid-container {
  width: 90%;
  max-width: 1100px;
  margin: 7rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.4fr 1fr;
  gap: 1rem;
  grid-template-areas: "img-1" "img-2" "img-3";
}

.collage-grid-container .image-1-container {
  grid-area: img-1;
  width: 95%;
  height: 174px;
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.collage-grid-container .image-2-container {
  grid-area: img-2;
  width: 95%;
  height: 174px;
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.collage-grid-container .image-3-container {
  grid-area: img-3;
  width: 95%;
  height: 353px;
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.mark-two-headphones-collage .image-1-container {
  background: url("../assets/product-zx9-speaker/mobile/image-gallery-1.jpg")
    no-repeat;
  background-size: cover;
}

.mark-two-headphones-collage .image-2-container {
  background: url("../assets/product-zx9-speaker/mobile/image-gallery-2.jpg")
    no-repeat;
  background-size: cover;
}

.mark-two-headphones-collage .image-3-container {
  background: url("../assets/product-zx9-speaker/mobile/image-gallery-3.jpg")
    no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}

@media (min-width: 700px) {
  .collage-grid-container {
    max-width: 700px;

    display: grid;
    grid-template-columns: 0.5fr 0.7fr;
    grid-template-rows: 0.4fr 0.4fr;
    gap: 5px;
    grid-auto-flow: row;
    grid-template-areas: "img-1 img-3" "img-2 img-3";
  }

  .collage-grid-container .image-1-container {
    max-width: 277px;
  }

  .collage-grid-container .image-2-container {
    max-width: 277px;
  }

  .collage-grid-container .image-3-container {
    max-width: 395px;
  }
}

@media (min-width: 1000px) {
  .collage-grid-container {
    max-width: 1100px;
  }
  .collage-grid-container .image-1-container {
    max-width: 445px;
    height: 280px;
  }

  .collage-grid-container .image-2-container {
    max-width: 445px;
    height: 280px;
  }

  .collage-grid-container .image-3-container {
    max-width: 635px;
    height: 565px;
  }
}

/* /////////////////////// */

.mark1-headphones-promotion {
  display: flex;
  justify-content: center;
}

.mark1-headphones-text {
  margin-top: 3rem;
  height: 25rem;
}

.mark1-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--mainColor);
}

.mark1-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  mix-blend-mode: normal;
  /* opacity: 0.5; */
  color: var(--seconday);
}

.mark1-content h3 {
  padding-top: 1rem;
  font-size: 24px;
  align-items: center;
  text-align: center;
  /* width: 27rem; */
}

.mark1-content p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

.mark1-action-btn {
  margin-top: 3.125rem;
}

/* /////////////////////// */

.mark3-headphones-promotion {
  display: flex;
  justify-content: center;
}

.mark3-headphones-text {
  margin-top: 3rem;
  height: 20rem;
}

.mark3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--mainColor);
}

.mark3-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  mix-blend-mode: normal;
  /* opacity: 0.5; */
  color: var(--seconday);
}

.mark3-content h3 {
  padding-top: 1rem;
  font-size: 36px;
}

.mark3-content p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

.mark3-action-btn {
  margin-top: 3.125rem;
}

/* /////////////////////// */

.also-like h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-size: 24px;
}

.also-like-h3-styling {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.img_container_product {
  margin: 4rem 0 0 1.5rem;
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 8rem;
  background-color: #f1f1f1;
}

.mark-1-headphones-product {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.mark-3-headphones-product {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.zx-9-headphones-product {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.mark1-content-product p {
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 400 bold;
  opacity: 0.5;
  padding-top: 1rem;
}

.mark1-action-btn-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}

@media only screen and (min-width: 768px) {
  .also-like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin-left: 1.5rem;
  }

  .also-like-main {
    display: flex;
    flex-direction: column;
  }

  .img_container_product {
    width: 16rem;
    height: 20rem;
  }

  .img_container_product .mark-1-headphones-product {
    content: url("../assets/shared/tablet/zx7.png");
  }

  .img_container_product .mark-3-headphones-product {
    content: url("../assets/shared/tablet/mark1.png");
  }

  .img_container_product .zx-9-headphones-product {
    content: url("../assets/shared/tablet/mark3.png");
  }

  .also-like-h3-styling {
    font-size: 32px;
  }

  .mark1-content-product {
    margin-left: 1rem;
  }
}

@media (min-width: 1000px) {
  .products {
    margin-left: 3rem;
  }
  .img_container {
    display: flex;
    justify-content: space-between;
    width: 22rem;
  }

  .img_container_product {
    width: 18rem;
    height: 20rem;
  }
}

/* /////////////////////// */

.img_container {
  margin: 10rem 0 0 1.5rem;
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 10rem;
  background-color: #f1f1f1;
}

.mark-2-headphones {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -130%);
}

.headphones-pr {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -91%);
}

.btn-shop {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 120%);
  border: none;
  color: var(--linecolor);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin-left: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .products {
    margin-left: 3rem;
  }
  .img_container {
    display: flex;
    justify-content: space-between;
    width: 22rem;
  }
}

/* /////////////////////// */

.company-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: 733px;
  margin: 100px auto 0px auto;
  border-radius: 10px;
}

.company-desc .company-desc-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url("../assets/shared/mobile/image-best-gear.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-desc .company-desc-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  text-align: center;
}

.company-desc .company-desc-text .title {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.company-desc .company-desc-text .desc-text {
  padding: 10px 0;
}

.company-desc .h2-styling-title {
  color: black;
}

@media only screen and (min-width: 768px) {
  .company-desc .company-desc-image {
    background-image: url("assets/shared/tablet/image-best-gear.jpg");
  }
  .company-desc .h2-styling-title {
    font-size: 40px;
  }
  .company-desc .company-desc-text .desc-text {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .company-desc {
    width: 63rem;
    height: 490px;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
  }

  .company-desc .company-desc-image {
    width: 40%;
    height: 100%;
    background-image: url("../assets/shared/desktop/image-best-gear.jpg");
  }

  .company-desc .company-desc-text {
    width: 49%;
    height: 100%;
    align-items: flex-start;
  }

  .h2-styling-title {
    width: 400px;
    text-align: left;
    margin: 0;
  }

  .company-desc .company-desc-text .desc-text {
    max-width: 400px;
    text-align: left;
  }
}

/* /////////////////////// */

.bottom-nav {
  background-color: var(--mainColor);
}

.bottom-nav .comp-desc {
  color: white;
}

.bottom-nav .copyright {
  color: white;
}

.bottom-nav .footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-nav svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px 0px;
}

.bottom-nav .footer-nav ul {
  text-align: center;
  list-style: none;
}

.bottom-nav .footer-nav ul li {
  margin: 30px 0px;
}

.bottom-nav .footer-nav ul li a {
  color: #f1f1f1;
  transition: 0.3s ease;
}

.bottom-nav .footer-nav ul li a:hover {
  color: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-comp-desc .comp-desc {
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  max-width: 400px;
}

.bottom-nav .footer-comp-desc .social-media {
  margin: 0 auto;
  bottom: -15%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li {
  margin: 20px 20px;
}

.bottom-nav .footer-comp-desc .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li a:hover {
  fill: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li > a > p {
  display: none;
}

.copyright {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    height: 400px;
  }
  .bottom-nav .accent-bar {
    top: 0;
    left: 30px;
    transform: none;
  }

  .bottom-nav .footer-nav {
    height: 40%;
    align-items: flex-start;
  }

  .bottom-nav .footer-nav svg {
    margin: 25px 0px 30px 30px;
  }

  .bottom-nav .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bottom-nav .footer-nav ul li {
    margin: 0 30px;
  }

  .bottom-nav .footer-comp-desc {
    height: 50%;
    align-items: flex-start;
  }
  .bottom-nav .footer-comp-desc .comp-desc {
    text-align: left;
    max-width: 700px;
    margin: 0;
    padding-left: 30px;
  }
  .bottom-nav .footer-comp-desc .copyright {
    padding-left: 30px;
  }

  .bottom-nav .footer-comp-desc .social-media {
    right: 50px;
    bottom: 7px;
    transform: none;
    justify-content: flex-end;
  }
}

@media (min-width: 1000px) {
  .bottom-nav .accent-bar {
    left: 120px;
  }
  .bottom-nav .footer-nav {
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }
  .bottom-nav .footer-nav svg {
    margin: 0;
  }

  .bottom-nav .footer-comp-desc .comp-desc {
    max-width: 570px;
    padding-left: 30px;
  }

  .social-media {
    padding-left: 55rem;
  }
}
