@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

:root {
  --mainColor: #000000;
  --seconday: #d87d4a;
  --background: #f1f1f1;
  --white: #ffffff;
  --linecolor: #979797;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  padding: 1rem;
}

/* img {
  width: 100%;
  height: auto;
} */

header {
  background-color: var(--mainColor);
  left: 0px;
  top: 0px;
  width: 100%;
}

h2 {
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  display: none;
}

.subnav {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 40rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 300ms ease;
}

.img_container-menu {
  margin: 5rem 0 2rem 1.5rem;
  width: 70%;
  border-radius: 8px;
  position: relative;
  height: 10rem;
  background-color: #f1f1f1;
}

.mark-2-headphones-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -130%);
}

.headphones-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -91%);
}

.btn-shop-menu {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 120%);
  border: none;
  color: var(--linecolor);
  background-color: transparent;
}

/* <!-- ///////////////////////// --> */

.banner {
  background: url(assets/home/mobile/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 43rem;
}

.banner-content {
  padding: 10rem;
  text-align: center;
  color: var(--white);
}

.banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.banner-content h3 {
  font-size: 2.25rem;
  font-weight: bold;
}

.banner-content p {
  font-size: 14px;
}

.banner-action-btn {
  margin-top: 50px;
}

.btn-main {
  width: 160px;
  height: 48px;
  padding: 15px;
  background: #d87d4a;
  color: var(--white);
  border: none;
}

.desktop-nav-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .brand {
    display: flex;
  }

  nav {
    justify-content: space-around;
  }

  .banner {
    background: url(assets/home/tablet/image-header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 60rem;
  }

  .banner-content .banner-h3 {
    font-size: 3.5rem;
  }

  .banner-content .banner-p {
    font-size: 15px;
  }

  .subnav {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }

  nav {
    justify-content: space-around;
  }

  .desktop-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    list-style: none;
    gap: 2rem;
  }

  .desktop-nav-list a {
    color: white;
  }

  .banner {
    display: flex;
    justify-content: space-around;
    background: url(assets/home/desktop/image-hero.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 60rem;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 15rem;
  }

  .banner-content .banner-h3 {
    width: 70%;
    font-size: 3.5rem;
  }

  .banner-content .banner-p {
    width: 50%;
    font-size: 15px;
  }

  .subnav {
    display: none;
  }
}

/* <!-- ///////////////////////// --> */

/* .category-links {
  width: 90%;
  max-width: 1100px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
} */

.img_container {
  margin: 10rem 0 0 1.5rem;
  width: 90%;
  border-radius: 8px;
  position: relative;
  height: 10rem;
  background-color: #f1f1f1;
}

.mark-2-headphones {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -130%);
}

.headphones {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -91%);
}

.btn-shop {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 120%);
  border: none;
  color: var(--linecolor);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    margin-left: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .products {
    margin-left: 3rem;
  }
  .img_container {
    display: flex;
    justify-content: space-between;
    width: 20rem;
  }
}

/* /////////////////////////////////// */

.zx9-speaker-promotion {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: 600px;
  margin: 100px auto 50px auto;
  background-color: #d87d4a;
  border-radius: 10px;
  background-image: url("assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 575px auto;
  background-position: center -150px;
  overflow: hidden;
}

.zx9-speaker-promotion .zx9-speaker-text {
  display: flex;
  flex-direction: column;
  color: white;
  width: 400px;
}

.zx9-speaker-promotion .zx9-speaker-text h1 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.zx9-speaker-promotion .zx9-speaker-text p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.btn-see {
  width: 160px;
}

.zx9-speaker-promotion .see-product-btn {
  /* display: flex;
	justify-content: center;
	align-items: center; */
  padding: 1rem;
  margin: 1rem auto;
  text-align: center;
  color: var(--white);
  background-color: var(--mainColor);
}

@media only screen and (min-width: 768px) {
  .zx9-speaker-promotion {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .zx9-speaker-promotion .h1-styling {
    font-size: 56px;
  }
  .zx9-speaker-promotion .h1-styling {
    font-size: 56px;
  }
  .zx9-speaker-promotion .sub-styling {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1000px) {
  .zx9-speaker-promotion {
    display: flex;
    flex-direction: row;
    width: 63rem;
    max-width: 1200px;
    justify-content: end;
    background-size: 900px;
    align-items: center;
    background-position: -180px -15px;
  }
  .zx9-speaker-promotion img {
    transform: translate(-30%, 15%);
    content: url("assets/home/desktop/zx9.png");
  }

  .zx9-speaker-promotion .zx9-speaker-text {
    display: flex;
    justify-content: center;
    text-align: start;
  }

  .zx9-speaker-promotion .zx9-speaker-text h1 {
    display: flex;
    text-align: start;
    width: 50%;
    margin-right: 9rem;
  }

  .zx9-speaker-promotion .zx9-speaker-text p {
    text-align: start;
    width: 70%;
    margin: 0 auto;
  }

  .zx9-speaker-promotion .see-product-btn {
    margin-right: 12.5rem;
  }
}

/* /////////////////////////////////// */

.zx7-speaker-promotion {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 420px;
  background-image: url("/assets/home/mobile/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.zx7-speaker-promotion .zx7-speaker-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 130px;
  margin-left: 100px;
}

.zx7-speaker-promotion .h2-styling {
  color: var(--mainColor);
  font-size: 28px;
}

.zx7-speaker-promotion .see-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  margin-top: 32px;
  color: var(--mainColor);
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--mainColor);
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .zx7-speaker-promotion {
    width: 90%;
    background-image: url("/assets/home/tablet/image-speaker-zx7.jpg");
  }

  .zx7-speaker-promotion .zx7-speaker-text {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .zx7-speaker-promotion {
    max-width: 63rem;
    background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  }

  .zx7-speaker-promotion .zx7-speaker-text {
    margin-left: 5rem;
  }
}

/* /////////////////////////////////// */

.yx1-earphones-promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1100px;
  height: 425px;
  margin: 50px auto;
  border-radius: 10px;
}

.yx1-earphones-promotion .yx1-earphones-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-image: url("assets/home/mobile/image-earphones-yx1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.yx1-earphones-promotion .yx1-earphones-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #f1f1f1;
}

.yx1-earphones-promotion .see-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  margin-top: 32px;
  color: var(--mainColor);
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--mainColor);
  background-color: transparent;
}

.yx1-earphones-promotion .h2-styling {
  margin-top: 25px;
  color: var(--mainColor);
  font-size: 28px;
}

@media only screen and (min-width: 768px) {
  .yx1-earphones-promotion {
    width: 63rem;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .yx1-earphones-promotion .yx1-earphones-image {
    height: 320px;
    background-image: url("assets/home/tablet/image-earphones-yx1.jpg");
  }

  .yx1-earphones-promotion .yx1-earphones-cta {
    display: flex;
    justify-content: center;
    height: 320px;
  }
}

/* /////////////////////////////////// */

.company-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  height: 733px;
  margin: 100px auto 0px auto;
  border-radius: 10px;
}

.company-desc .company-desc-image {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-image: url("assets/shared/mobile/image-best-gear.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.company-desc .company-desc-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  text-align: center;
}

.company-desc .company-desc-text .title {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  text-align: center;
}

.company-desc .company-desc-text .desc-text {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.company-desc .h2-styling-title {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .company-desc .company-desc-image {
    background-image: url("assets/shared/tablet/image-best-gear.jpg");
  }
  .company-desc .h2-styling-title {
    font-size: 40px;
  }
  .company-desc .company-desc-text .desc-text {
    font-size: 15px;
  }
}

@media (min-width: 1000px) {
  .company-desc {
    width: 63rem;
    height: 490px;
    flex-direction: row-reverse;
    margin-bottom: 10rem;
  }

  .company-desc .company-desc-image {
    width: 40%;
    height: 100%;
    background-image: url("assets/shared/desktop/image-best-gear.jpg");
  }

  .company-desc .company-desc-text {
    width: 49%;
    height: 100%;
    align-items: flex-start;
  }

  .h2-styling-title {
    width: 400px;
    text-align: left;
    margin: 0;
  }

  .company-desc .company-desc-text .desc-text {
    max-width: 400px;
    text-align: left;
  }
}

/* /////////////////////////////// */

.bottom-nav {
  background-color: var(--mainColor);
}

.bottom-nav .comp-desc {
  color: white;
}

.bottom-nav .copyright {
  color: white;
}

.bottom-nav .footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-nav svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px 0px;
}

.bottom-nav .footer-nav ul {
  text-align: center;
  list-style: none;
}

.bottom-nav .footer-nav ul li {
  margin: 30px 0px;
}

.bottom-nav .footer-nav ul li a {
  color: #f1f1f1;
  transition: 0.3s ease;
}

.bottom-nav .footer-nav ul li a:hover {
  color: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.bottom-nav .footer-comp-desc .comp-desc {
  text-align: center;
  transition: all 0.3s ease;
  width: auto;
  max-width: 400px;
}

.bottom-nav .footer-comp-desc .social-media {
  margin: 0 auto;
  bottom: -15%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li {
  margin: 20px 20px;
}

.bottom-nav .footer-comp-desc .social-media li a {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li a:hover {
  fill: #d87d4a;
  transition: 0.3s ease;
}

.bottom-nav .footer-comp-desc .social-media li > a > p {
  display: none;
}

.copyright {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    height: 400px;
  }
  .bottom-nav .accent-bar {
    top: 0;
    left: 30px;
    transform: none;
  }

  .bottom-nav .footer-nav {
    height: 40%;
    align-items: flex-start;
  }

  .bottom-nav .footer-nav svg {
    margin: 25px 0px 30px 30px;
  }

  .bottom-nav .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bottom-nav .footer-nav ul li {
    margin: 0 30px;
  }

  .bottom-nav .footer-comp-desc {
    height: 50%;
    align-items: flex-start;
  }
  .bottom-nav .footer-comp-desc .comp-desc {
    text-align: left;
    max-width: 700px;
    margin: 0;
    padding-left: 30px;
  }
  .bottom-nav .footer-comp-desc .copyright {
    padding-left: 30px;
  }

  .bottom-nav .footer-comp-desc .social-media {
    right: 50px;
    bottom: 7px;
    transform: none;
    justify-content: flex-end;
  }
}

@media (min-width: 1000px) {
  .bottom-nav .accent-bar {
    left: 120px;
  }
  .bottom-nav .footer-nav {
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
  }
  .bottom-nav .footer-nav svg {
    margin: 0;
  }

  .bottom-nav .footer-comp-desc .comp-desc {
    max-width: 570px;
    padding-left: 30px;
  }

  .social-media {
    padding-left: 55rem;
  }
}
